*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    /*sitewide color palette. Use main color for branding, icons, etc. Shades are background or text colors. Use accents to draw attention.*/
    --light-shade: #DEAFB6;
    --light-accent: #D4B80E;
    --main-color: #AD72A8;
    --dark-accent: #8A533F;
    --dark-shade: #2A2B2F;

    /*default viewport size is >600px wide. See bottom of document for media break points.*/
    font-size: 16px; 
}

/* sitewide fonts and sizes*/
p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
}
h2 {
    font-family: 'Karma', Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}

h3 {
    font-family: 'Karma', Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

body {
    width: 100%;
    background-color: #fff;
}



/*header styling*/
header {
    margin: 0;
    width: 100%;
    background-color: var(--light-accent);
    padding: 1rem 0;
}

/*h1 fades in on site load*/

header h1 {
    margin: 0.5rem 1rem;
    color: var(--dark-shade);
}

header h1.fadein {
    -webkit-animation: 4s fadein; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: 4s fadein; /* Firefox < 16 */
    -ms-animation: 4s fadein; /* Internet Explorer */
    -o-animation: 4s fadein; /* Opera < 12.1 */
    animation: 4s fadein;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

#intro {
    margin: 0 0.7rem;
    color: var(--main-color);
}

/*subheader slides in from the left after brief delay*/

/*subheader styling*/
#subheader{
    margin: 0.5rem 0;
    height: auto;
    max-width: 70%;
    color: var(--light-shade);
    background-color: var(--main-color);
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0.2rem 0.3rem 0.5rem var(--dark-shade);
    padding: 0.3rem 0.7rem 0.2rem 0.7rem; 
}

/*subheader animation control*/
.slide-right {
    overflow: hidden;
    margin-left: 0;
    max-width: inherit;
}
    
header h2.slide-right {
    animation: 2s slide-right 1s forwards;
    transform:translateX(-100%);
}
    
@keyframes slide-right {
    to {
    transform:translateX(0);
    }

}

/*nav dropdown*/
.dropdown {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-button {
    width: 100%;
    padding: 0.6rem;
    background-color: var(--dark-shade);
    color: var(--light-shade);
    text-align: center;
}

.drop-button h2::before {
    content: "• ";
}

.drop-button h2::after {
    content: " •"
}

.dropdown-content{
    display: none;
    width: 60%;
    padding: 1rem 0;
    list-style: none;
    background-color: var(--light-shade);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0.2rem 0.1rem 0.5rem var(--dark-shade);
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:current .dropdown-content {display: block;}

nav ul li {
    margin: 0 1.5rem;
    padding: .5rem 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: var(--main-color);
    border-bottom: .3rem dotted;
    border-color: var(--main-color)
}

/* Old version
body{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    background-image: linear-gradient(#deafb6, #ffffff);
}

.header-text {
    width: 100%;
    text-align: center;
    padding: 1.5rem .3rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: var(--dark-accent);
}

header h3 {
    margin: 0px;
    font-size: .8rem;
    font-family: 'Karma', Georgia, Times, 'Times New Roman', serif;
    color: var(--main-color);
}

header nav {
    margin: 0px;
    width: 100%;
}

header nav ul {
    margin: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

header nav ul li {
    padding: 0.3rem;
    border-bottom: .3em dotted;
    border-color: var(--light-shade);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: var(--main-color)
}

footer{
    font-size: 0.5em;
    color: var()
}*/



/*media breakpoints*/

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    :root {
        font-size: 20px;
    }

    #subheader{
        max-width: 60%;
    }
  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    :root {
        font-size: 24px;
    }

    #subheader{
        max-width: 50%;
    }
  }
  
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    :root {
        font-size: 28px;
    }

    #subheader{
        max-width: 40%;
    }
  }
  
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    :root {
        font-size: 32px;
    }

    #subheader{
        max-width: 30%;
    }
  }
